{% extends 'base.html' %}

{% block content %}

<!-- Заголовок -->
<h1 class="mb-4">Создать заказ</h1>

<!-- Форма для ввода данных заказа -->
<div class="card mb-4">
    <div class="card-body">
        <h5 class="card-title">Введите данные заказа</h5>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="order_text">Enter Order Data:</label>
                <textarea class="form-control" id="order_text" name="order_text" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
</div>

<!-- Инструкция по отправке заказов -->
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Универсальный способ интеграции одностраничных сайтов-продажников с нашей системой</h5>
      <p>Независимо от того, какой продукт или услугу вы предлагаете, наша система предоставляет универсальный метод интеграции вашего одностраничного сайта-продажника через API. Следуйте этим шагам, чтобы успешно осуществить подключение:</p>
      <ol>
        <li>Подготовьте данные вашего продажного предложения в формате JSON, включая все важные параметры, описание и характеристики.</li>
        <li>Используйте метод HTTP POST для отправки данных вашего продажника по адресу <code>http://127.0.0.1:8000/create_order/</code>. Передайте информацию в теле запроса.</li>
        <li>Получите обратный ответ от нашего сервера, который будет содержать информацию о статусе интеграции, дополнительные рекомендации или данные о заказе.</li>
      </ol>
      <p>Этот универсальный подход позволяет интегрировать разнообразные одностраничные сайты-продажники с нашей системой, сделав взаимодействие простым и эффективным.</p>
    </div>
  </div>
</div>

{% endblock %}
